{{- if .Values.ingress.enabled -}}
{{- $fullName := include "odk-central.fullname" . -}}
{{- if and .Values.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey .Values.ingress.annotations "kubernetes.io/ingress.class") }}
  {{- $_ := set .Values.ingress.annotations "kubernetes.io/ingress.class" .Values.ingress.className}}
  {{- end }}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "odk-central.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  tls:
    - hosts:
        - {{ .Values.networking.ingress.host }}
        - {{ .Values.networking.frontend.ingress.host }}
      secretName: letsencrypt-prod
  rules:
    - host: {{ .Values.networking.ingress.host }}
      http:
        paths:
          - path: "/"
            pathType: "Prefix"
            backend:
              service:
                name: odk-central-backend
                port:
                  number: {{ .Values.service.port }}

    - host: {{ .Values.networking.frontend.ingress.host }}
      http:
        paths:
          - path: "/"
            pathType: "Prefix"
            backend:
              service:
                name: odk-central-service
                port:
                  number: {{ .Values.service.frontendport }}

{{- end }}
